<div [class.fixed]="fixed" [class.mat-elevation-z8]="fixed">
    <app-spacer-container>
        <span class="left-arrow">
            <button 
            *ngIf="!pending && !pagination.firstPage"
            mat-icon-button 
            (click)="changedPage.emit(-1)">
                <mat-icon color="accent" matTooltip="previous page" class="big-icon">navigate_before</mat-icon>
            </button>
        </span>
    
        <span class="title">
            {{title}}
        </span>
    
        <span class="right-arrow">
            <button 
            *ngIf="!pending && !pagination.lastPage"
            mat-icon-button 
            (click)="changedPage.emit(1)">
                <mat-icon color="accent" matTooltip="next page" class="big-icon">navigate_next</mat-icon>
            </button>
        </span>
    </app-spacer-container>    
</div>
