<div class="root-container"> 

    <h3>Create new Category</h3>
    
    <br>

    <form [formGroup]="categoryForm">
            
        <div [class.disabled]="savePending">
                
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="name" 
                placeholder="Enter category name">
                <mat-error *ngIf="!categoryForm.get('name').hasError('nameError')">
                    Name is required!
                </mat-error>
                <mat-error *ngIf="categoryForm.get('name').hasError('nameError')">
                    Name already exists!
                </mat-error>    
                <mat-hint *ngIf="categoryForm.pending">
                    Checking uniqueness of the name...
                </mat-hint>                  
            </mat-form-field>
            
        </div>

        <br>

        <app-center-container>
            <button 
            *ngIf="!savePending"
            mat-raised-button 
            color="accent"
            (click)="save()">Save</button>
            <app-spinner-button *ngIf="savePending"></app-spinner-button>  
        </app-center-container>

    </form>

</div>