<form [formGroup]="filterForm" [class.disabled]="fetchPending">
    <mat-form-field appearance="outline"> 
        <input 
        matInput 
        autocomplete="off" 
        formControlName="name"
        placeholder="Filter by name..."
        [matAutocomplete]="names_auto"
        (input)="nameFilters.next(filterForm.value.name.trim())">  
        <mat-autocomplete #names_auto="matAutocomplete">
            <mat-option *ngFor="let name of names | async" [value]="name">
              {{name}}
            </mat-option>
        </mat-autocomplete>      
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline"> 
        <input 
        matInput 
        autocomplete="off" 
        formControlName="location"
        placeholder="Filter by location..."
        [matAutocomplete]="location_auto"
        (input)="locationFilters.next(filterForm.value.location.trim())">  
        <mat-autocomplete #location_auto="matAutocomplete">
            <mat-option *ngFor="let location of locations | async" [value]="location">
              {{location}}
            </mat-option>
        </mat-autocomplete>      
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline"> 
        <input 
        matInput 
        autocomplete="off" 
        formControlName="type"
        placeholder="Filter by type..."
        [matAutocomplete]="types_auto"
        (input)="typeFilters.next(filterForm.value.type.trim())">  
        <mat-autocomplete #types_auto="matAutocomplete">
            <mat-option *ngFor="let type of types | async" [value]="type">
              {{type}}
            </mat-option>
        </mat-autocomplete>      
    </mat-form-field>

    <br>

    <app-spacer-container>
        <span></span>
        <span>
            <button 
            *ngIf="!fetchPending"
            mat-raised-button 
            color="accent"               
            (click)="culturalService.announceFilterData(filterForm.value)">Filter</button>
            <app-spinner-button *ngIf="fetchPending"></app-spinner-button>    
        </span>
    </app-spacer-container>

</form>