<app-paginator
[pending]="fetchPending"
[pagination]="pagination"
(changedPage)="changePage($event)"
></app-paginator>    

<app-preloader *ngIf="fetchPending && !panel.expanded"></app-preloader>

<div class="filter-container">

    <mat-expansion-panel hideToggle #panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span></span>
                <app-center-container>
                    <mat-icon color="accent">search</mat-icon>
                    <span class="filter-button">Filter</span>
                </app-center-container>
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <form [formGroup]="filterForm" [class.disabled]="fetchPending">
            <mat-form-field appearance="outline"> 
                <input matInput placeholder="Start date..." formControlName="startDate" [matDatepicker]="startPicker">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline"> 
                <input matInput placeholder="End date..." formControlName="endDate" [matDatepicker]="endPicker">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
        </form>
        
        <br>

        <app-spacer-container>
            <span></span>
            <span>
                <button 
                *ngIf="!fetchPending"
                mat-raised-button 
                color="accent"               
                (click)="filterData()">Filter</button>
                <app-spinner-button *ngIf="fetchPending"></app-spinner-button>    
            </span>
        </app-spacer-container>

    </mat-expansion-panel>
</div>

<app-news-details 
*ngFor="let newsItem of news"
[news]="newsItem"
></app-news-details>