<div class="root-container"> 

    <form [formGroup]="typeForm">
        
        <div [class.disabled]="savePending">

            <app-image-input
            [image]="image.path" 
            (changed)="image=$event" 
            (removed)="image={path: null, upload: null}">
            </app-image-input>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="name" 
                placeholder="Enter type name">
                <mat-error *ngIf="!typeForm.get('name').hasError('nameError')">
                    Name is required!
                </mat-error>
                <mat-error *ngIf="typeForm.get('name').hasError('nameError')">
                    Name already exists!
                </mat-error>    
                <mat-hint *ngIf="typeForm.get('name').pending">
                    Checking uniqueness of the name...
                </mat-hint>                  
            </mat-form-field>

            <mat-form-field>
                <mat-label>Category</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="category" 
                placeholder="Enter category"
                [matAutocomplete]="auto"
                (input)="categoryFilters.next(typeForm.value.category.trim())">
                <mat-error *ngIf="!typeForm.get('category').hasError('nameError')">
                    Category is required!
                </mat-error>
                <mat-error *ngIf="typeForm.get('category').hasError('nameError')">
                    Category not found!
                </mat-error>
                <mat-hint *ngIf="typeForm.get('category').pending">
                    Searching categories...
                </mat-hint>                  
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let category of categories | async" [value]="category">
                    {{category}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </div>

        <app-center-container>
            <button 
            *ngIf="!savePending"
            mat-raised-button 
            color="accent"
            (click)="save()">Save</button>
            <app-spinner-button *ngIf="savePending"></app-spinner-button>  
        </app-center-container>
    
    </form>

</div>
