<mat-drawer-container>

    <div>
        <app-toolbar (toggle)="drawer.toggle()"></app-toolbar>
        <app-map 
        [culturalOffers]="culturalOffers[selectedTab]"
        [fetchPending]="fetchPending[selectedTab]"
        ></app-map>
    </div>

    <mat-drawer class="mat-elevation-z24" #drawer mode="side"
    [class.crop]="fetchPending[selectedTab] || !culturalOffers[selectedTab].length">
        
        <app-cultural-list
        [title]="selectedTab ? 'Followed Cultural Offers' : 'All Cultural Offers'"
        [culturalOffers]="culturalOffers[selectedTab]"
        [fetchPending]="fetchPending[selectedTab]"
        [pagination]="pagination[selectedTab]"
        (changedPage)="changePage($event)"
        ></app-cultural-list>    

        <div *ngIf="guest" class="tabs">
            <mat-tab-group 
            headerPosition="below" animationDuration="0ms"
            (selectedIndexChange)="changeTab($event)">
                <mat-tab [label]="'All Cultural Offers'">
                </mat-tab>
                <mat-tab [label]="'Followed Cultural Offers'">
                </mat-tab>
            </mat-tab-group>
        </div>

    </mat-drawer>
</mat-drawer-container>