<mat-toolbar color="primary" class="mat-elevation-z24">
    <span>
        <button 
        mat-icon-button 
        (click)="toggle.emit()">
            <mat-icon matTooltip="toggle sidebar">menu</mat-icon>
        </button>
        <button 
        *ngIf="role==='admin'" 
        mat-icon-button
        (click)="addOffer()">
            <mat-icon matTooltip="new cultural offer">add</mat-icon>
        </button>
    </span>
    <span>
        <button mat-icon-button [matMenuTriggerFor]="more">
            <mat-icon matTooltip="more">more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
            <button *ngIf="role" mat-menu-item (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
            <button *ngIf="role==='guest'" mat-menu-item (click)="profile()">
                <mat-icon>person_outline</mat-icon>
                <span>Profile</span>
            </button>
            <button *ngIf="!role" mat-menu-item (click)="signIn()">
                <mat-icon>login</mat-icon>
                <span>Sign in</span>
            </button>
            <button *ngIf="role==='admin'" mat-menu-item [matMenuTriggerFor]="categories_types">
                <mat-icon>category</mat-icon>
                Categories/Types
            </button>
        </mat-menu>
        <mat-menu #categories_types="matMenu">
            <button mat-menu-item (click)="categories()">
                Categories
            </button>
            <button mat-menu-item (click)="types()">
                Types
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
